[submodule "3rdParty/fast-cpp-csv-parser"]
	path = 3rdParty/fast-cpp-csv-parser
	url = https://github.com/ben-strasser/fast-cpp-csv-parser
[submodule "3rdParty/tinyxml2"]
	path = 3rdParty/tinyxml2
	url = https://github.com/leethomason/tinyxml2
